<div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 ">
                <!-- <div class="card card-body btn btn-outline-secondary" [routerLink]="['pending']" routerLinkActive="active"> -->
                <div class="card card-body btn btn-outline-info "  [routerLink]="['pending']" appAutofocus required  routerLinkActive="active-link">

                    <span >Total Pending Issues
                    </span>
        
                </div>
            </div>
    <div class=" col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card card-body btn btn-outline-primary" [routerLink]="['totalIssues']">
            <span>Total Number of Issues
            </span>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card card-body btn btn-outline-success"  [routerLink]="['approved']">
            <span>Total Approved Issues
            </span>
        </div>
    </div>
   

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card card-body  btn btn-outline-danger" [routerLink]="['rejected']">
            <span >Total Rejected Issues
            </span>
        </div>
    </div>
</div>

<router-outlet></router-outlet>