
  <nav class="navbar navbar-expand-lg navbar-light ">
      <img src="assets\imgs\traffic3.jpg" class="img-fluid" alt="Responsive image" style="border-radius: 50% !important;
      height:80px; width:80px; border: 2px solid #fff;" class="nav-link" align="center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active text-info">
              <p class="nav-link text-info">Traffic Sudharo</p>
          </li>
          <li class="nav-item">
           
          </li>
          <li class="nav-item">
          
          </li>
        </ul>
        <!-- <div class="nav-item">
           
            <div class="button">
                <i class="fa fa-bell nav-link text-secondary"></i>
                <span class="button__badge">21</span>
              </div>
            
            
        </div> -->
        <span class="navbar-text">
           
            <div class="dropdown">
                
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="fas fa-user text-secondary" aria-hidden="true"> My Account</span> 
                 
              </button>
              <div class="dropdown-menu">
                <!-- <a class="dropdown-item" >Profile</a> -->
                <a class="dropdown-item"  (click)="logout()">Logout</a>
              </div>
            </div>
          </span>
 
      </div>
    </nav>