<br>

<div class="form-row bg-light p-3">

    <div lass="col-5">
        <div class=" text-danger"><b class="display-4">{{this.rejectedCont}}</b> Rejected Issues
        </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-5">
        <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Search" [(ngModel)]="Filter.violationType">

    </div>
</div>
<div *ngIf="loading else loaded">
    <div class="d-flex justify-content-center text-danger">
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>

<table class="table table-hover bg-light mt-3">
    <thead>
        <tr class="text-secondary">
                <!-- <th>Id</th> -->
            <th>ViolationTypeId</th>
            <th>ViolationType</th>
            <th>vehicleType</th>
            <th>vehicleNumber</th>
            <th>Location</th>
            <th>Status</th>
            <th>IssueDate</th>
            <th>Image</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>

        <tr
            *ngFor="let view of rejectedIssues  | filterBy: Filter| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <!-- <td>{{view._id}}</td> -->

            <td>{{view.violationTypeId}}</td>
            <td>{{view.violationType}}</td>
            <td>{{view.vehicleType}}</td>
            <td>{{view.vehicleNumber}}</td>
            <td>{{view.location}}</td>
            <td class="text-info">{{view.status}}</td>
            <td>{{view.createdAt| date: 'dd/MM/yyyy,h:mm a'}}</td>
            <!-- <td><img [src]="'data:image/jpg;base64,'+view.image" class="img-fluid" alt="Responsive image" style="border-radius: 50% !important;
          height:50px; width:50px;"></td> -->
            <td> <img src="http://192.168.1.55:3055/api/images/{{view.image}}" class="img-fluid" alt="Responsive image"
                    style="border-radius: 50% !important;
            height:50px; width:50px;"></td>


            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"
                    (click)="details(view)">Details</button></td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event" class="pagination pagination-lg justify-content-end">
</pagination-controls>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-secondary">Rejected  Violation Type</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                        <div class="img-hover-zoom">
                            <!-- <ngx-image-zoom thumbImage='http://192.168.1.55:3055/api/images/{{image}}'
                                fullImage='http://192.168.1.55:3055/api/images/{{image}}' class="img-fluid"
                                alt="Responsive image" [magnification]="1" [enableScrollZoom]="true" [lensWidth]="300"
                                [lensHeight]="300">
                            </ngx-image-zoom> -->
                            <img src="http://192.168.1.55:3055/api/images/{{image}}" class="img-fluid"
                                alt="Responsive image" style="height: 400px; width: 1000px;">
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>