<br>
<div *ngIf="loading else loaded">
    <div class="d-flex justify-content-center text-info">
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>



<div class="form-row bg-light p-3">

    <div lass="col-5">
        <div class=" text-info"><b class="display-4">{{this.pendingCont}}</b> Pending Issues
        </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-5">
        <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Search"  [(ngModel)]="Filter.violationType">

    </div>
</div>
<table class="table table-hover bg-light mt-3">
    <thead>
        <tr class="text-secondary">
            <!-- <th>Id</th> -->
            <th>ViolationTypeId</th>
            <th>Violation Type</th>

            <th>Location</th>
            <th>Status</th>
            <th>IssueDate</th>
            <th>Image</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>

        <tr
            *ngFor="let view of totalIssues | filterBy: Filter| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <!-- <td>{{view._id}}</td> -->
            <td>{{view.violationTypeId}}</td>
            <td>{{view.violationType}}</td>
            <td>{{view.location}}</td>

            <td class="text-info">{{view.status}}</td>
            <td>{{view.createdAt| date: 'dd/MM/yyyy,h:mm a'}}</td>
            <!-- <td><img [src]="'data:image/jpg;base64,'+view.image" class="img-fluid" alt="Responsive image" style="border-radius: 50% !important;
          height:50px; width:50px;"></td> -->
            <td> <img src="http://192.168.1.55:3055/api/images/{{view.image}}" class="img-fluid" alt="Responsive image"
                    style="border-radius: 50% !important;
            height:50px; width:50px;"></td>

            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="details(view)"
                    data-toggle="modal" data-target="#myModal" data-dismiss="modal">Details</button></td>
        </tr>

    </tbody>
</table>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-secondary">Pending Violation Type</h5>
                <button type="button" class="close" data-dismiss="modal" #closeBtn (click)="reset()">&times;</button>
            </div>


            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">

                        <div class="img-hover-zoom">
                            <ngx-image-zoom thumbImage='http://192.168.1.55:3055/api/images/{{image}}'
                                fullImage='http://192.168.1.55:3055/api/images/{{image}}' class="img-fluid"
                                alt="Responsive image" [magnification]="1" [enableScrollZoom]="true" [lensWidth]="300"
                                [lensHeight]="300">
                            </ngx-image-zoom>
                        </div>

                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" data-dismiss="myModal">
                            <div class="form-group row">
                                <!-- <label class="col-sm-4 col-form-label">userViolationId :</label> -->
                                <div class="col-sm-8">
                                    <label>User Violation Id :</label>
                                    <input type="text" formControlName="userViolationId" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <!-- <label class="col-sm-4 col-form-label">Status :</label> -->
                                <div class="col-sm-8">
                                    <label>Status :</label>
                                    <select class="form-select" formControlName="status" class="form-control" (change)="selectingValues($event)">
                                        <option value="1000" disabled>Pending</option>
                                        <option value="1001">Approved</option>
                                        <option value="1002">Rejected</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="reason">
                                <div class="col-sm-8">
                                    <label>Reason for Reject :</label>
                                    <textarea rows="4" cols="50" formControlName="reason" class="form-control" placeholder="Please Enter Reason">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <label>Vehicle Type :</label>
                                    <select class="form-select" formControlName="vehicleType" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.vehicleType.errors }" placeholder="Vehicle Number">
                                        <option disabled selected value> Select VehicleType  </option>
                                        <option value="2 wheeler">2 wheeler</option>
                                        <option value="3 wheeler">3 wheeler</option>
                                        <option value="4 wheeler">4 wheeler</option>
                                        <option value="6 wheeler">6 wheeler</option>
                                    </select>
                                    <div *ngIf="submitted && f.vehicleType.errors" class="invalid-feedback">
                                        <div *ngIf="f.vehicleType.errors.required">Select VehicleType</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <label>Vehicle Number :</label>
                                    <input type="text text-uppercase" onkeyup="this.value = this.value.toUpperCase();"
                                        class="form-control" formControlName="vehicleNumber"
                                        placeholder="Vehicle Number" maxlength="10"
                                        [ngClass]="{ 'is-invalid': submitted && f.vehicleNumber.errors }">
                                    <div *ngIf="submitted && f.vehicleNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.vehicleNumber.errors.required">Vechile Number required
                                        </div>
                                        <div *ngIf="f.vehicleNumber.errors.pattern">Example is
                                            TS**OJ****
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="form-group row">
                                <!-- <label class="col-sm-4 col-form-label">Status :</label> -->
                                <div class="col-sm-8">

                                    <button class="btn btn-primary mr-0">Update</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="reset()">Close</button>
            </div>

        </div>
    </div>
</div>


<pagination-controls (pageChange)="p = $event" class="pagination pg-blue justify-content-end ">
</pagination-controls>